@import "tailwindcss";
@plugin "daisyui" {
  themes: all;
}

@theme {
  --font-urbanist: "Urbanist", sans-serif;
}

@font-face {
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/L0x4DF02iFML4hGCyMqgXSFsjkK3.woff2")
    format("woff2");
}

@font-face {
  font-family: "Urbanist";
  font-style: italic;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/L0x4DF02iFML4hGCyMqgXS9sjg.woff2") 
    format("woff2");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/L0x-DF02iFML4hGCyMqrbS10ig.woff2")
    format("woff2");
}

@font-face {
  font-family: "Urbanist";
  font-style: normal;
  font-weight: 100 900;
  font-display: swap;
  src: url("/fonts/L0x-DF02iFML4hGCyMqlbS0.woff2")
    format("woff2");
}
